<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Project 🐛 Tracker</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Clients <strong>(WIP)</strong></a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#"
          >Projects <strong>(WIP)</strong></a
        >
      </li>
      <li class="nav-item">
        <button
          type="button"
          class="btn btn-outline-primary"
          data-toggle="modal"
          data-target="#staticBackdrop"
        >
          New Bug
        </button>
      </li>
      <!-- <li class="nav-item">
        <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="bugModal">New Bug</button>
      </li> -->
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>
  </div>
</nav>

<!-- Button trigger modal -->

<!-- Modal -->
<div
  class="modal fade"
  id="staticBackdrop"
  data-backdrop="static"
  data-keyboard="true"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Bug Details</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="exampleFormControlInput1">Title<span style="color: red">*</span></label>
            <input
              type="email"
              class="form-control"
              id="exampleFormControlInput1"
              placeholder="Bug Title"
              required
            />
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Tester<span style="color: red">*</span></label>
            <input
              type="email"
              class="form-control"
              id="exampleFormControlInput1"
              placeholder="Tested By"
              required
            />
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect1"
              >Primary Module <span style="color: red">*</span></label
            >
            <input
              class="form-control"
              id="exampleFormControlSelect1"
              required
              placeholder="Please enter the primary module"
            >
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect1"
              >Secondary Module</label
            >
            <input
              class="form-control"
              id="exampleFormControlSelect1"
              placeholder="Enter sub-module if relevant"
            >
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect1"
              >Date Tested<span style="color: red">*</span></label
            >
            <input
              class="form-control"
              id="exampleFormControlSelect1"
              placeholder="MM/DD/YYYY"
              required
            >
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect1"
              >Environment<span style="color: red">*</span></label
            >
            <select
              class="form-control"
              id="exampleFormControlSelect1"
              required
            >
              <option>Web</option>
              <option>Mobile App</option>
              <option>Mobile Browser</option>
              <option>Admin Panel</option>
            </select>
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect1">Bug Status<span style="color: red">*</span></label>
            <select class="form-control" id="exampleFormControlSelect1" required>
              <option>Open</option>
              <option>Fixed in Dev</option>
              <option>Fixed in QA</option>
              <option>Clarification</option>
              <option>Unable to Recreate</option>
              <option>Reopened</option>
              <option>Closed</option>
            </select>
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Bug Description<span style="color: red">*</span></label>
            <textarea
              class="form-control"
              id="exampleFormControlTextarea1"
              rows="5"
              placeholder="Write bug description here."
            ></textarea>
          </div>
          <div class="form-group">
            <label for="exampleFormControlFile1">Upload Bug Screenshots Here: </label>
            <input type="file" class="form-control-file" id="exampleFormControlFile1" multiple>
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Date Retested</label>
            <input
              type="email"
              class="form-control"
              id="exampleFormControlInput1"
              placeholder="Date bug was retested"
            />
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Retested By</label>
            <input
              type="email"
              class="form-control"
              id="exampleFormControlInput1"
              placeholder="Who retested the bug?"
            />
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Date Reopened</label>
            <input
              type="email"
              class="form-control"
              id="exampleFormControlInput1"
              placeholder="Date bug was retested"
            />
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Reopened By</label>
            <input
              type="email"
              class="form-control"
              id="exampleFormControlInput1"
              placeholder="Who retested the bug?"
            />
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Date Closed</label>
            <input
              type="email"
              class="form-control"
              id="exampleFormControlInput1"
              placeholder="Date bug was closed"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>
