<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Project 🐛 Tracker</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Clients <strong>(WIP)</strong></a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#"
          >Projects <strong>(WIP)</strong></a
        >
      </li>
      <li class="nav-item">
        <button
          type="button"
          class="btn btn-outline-primary"
          data-toggle="modal"
          data-target="#staticBackdrop"
        >
          New Bug
        </button>
      </li>
      <!-- <li class="nav-item">
        <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="bugModal">New Bug</button>
      </li> -->
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>
  </div>
</nav>

<!-- Button trigger modal -->

<!-- Modal -->
<div
  class="modal fade"
  id="staticBackdrop"
  data-backdrop="static"
  data-keyboard="true"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Bug Details</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form
          (ngSubmit)="onFormSubmit(templateFormRef)"
          #templateFormRef="ngForm"
        >
          <div class="form-group">
            <label for="titleInput"
              >Title<span style="color: red">*</span></label
            >
            <input
              type="text"
              class="form-control"
              id="titleInput"
              placeholder="Bug Title"
              name="titleInput"
              #titleRef="ngModel"
              required
              ngModel
            />
            <span
              class="help-block text-danger"
              *ngIf="!titleRef.valid && titleRef.touched"
            >
              Please enter a valid title!
            </span>
          </div>
          <div class="form-group">
            <label for="testerInput"
              >Tester<span style="color: red">*</span></label
            >
            <input
              type="text"
              class="form-control"
              id="testerInput"
              placeholder="Tested By"
              name="testerInput"
              #testerRef="ngModel"
              required
              ngModel
            />
            <span
              class="help-block text-danger"
              *ngIf="!testerRef.valid && testerRef.touched"
            >
              Please enter a valid tester!
            </span>
          </div>
          <div class="form-group">
            <label for="priModuleInput"
              >Primary Module <span style="color: red">*</span></label
            >
            <input
              type="text"
              class="form-control"
              id="priModuleInput"
              placeholder="Please enter the primary module"
              name="priModuleInput"
              #priModuleRef="ngModel"
              required
              ngModel
            />
            <span
              class="help-block text-danger"
              *ngIf="!priModuleRef.valid && priModuleRef.touched"
            >
              Please enter a valid primary module!
            </span>
          </div>
          <div class="form-group">
            <label for="secModuleInput">Secondary Module</label>
            <input
              type="text"
              class="form-control"
              id="secModuleInput"
              placeholder="Enter sub-module if relevant"
              name="secModuleInput"
              ngModel
            />
          </div>
          <div class="form-group">
            <label for="dateTestedInput"
              >Date Tested<span style="color: red">*</span></label
            >
            <input
              class="form-control"
              id="dateTestedInput"
              placeholder="MM/DD/YYYY"
              data-provide="datepicker"
              name="dateTestedInput"
              #dateTestedRef="ngModel"
              type="date"
              required
              ngModel
            />
            <span
              class="help-block text-danger"
              *ngIf="!dateTestedRef.valid && dateTestedRef.touched"
            >
              Please enter a valid date!
            </span>
          </div>
          <div class="form-group">
            <label for="envInput"
              >Environment<span style="color: red">*</span></label
            >
            <select
              class="form-control"
              id="envInput"
              name="envInput"
              #envRef="ngModel"
              required
              ngModel
            >
              <option>Web</option>
              <option>Mobile App</option>
              <option>Mobile Browser</option>
              <option>Admin Panel</option>
            </select>
            <span
              class="help-block text-danger"
              *ngIf="!envRef.valid && envRef.touched"
            >
              Please select a valid environment!
            </span>
          </div>
          <div class="form-group">
            <label for="bugStatusInput"
              >Bug Status<span style="color: red">*</span></label
            >
            <select
              class="form-control"
              id="bugStatusInput"
              name="bugStatusInput"
              #statusRef="ngModel"
              required
              ngModel
            >
              <option>Open</option>
              <option>Fixed in Dev</option>
              <option>Fixed in QA</option>
              <option>Clarification</option>
              <option>Unable to Recreate</option>
              <option>Reopened</option>
              <option>Closed</option>
            </select>
            <span
              class="help-block text-danger"
              *ngIf="!statusRef.valid && statusRef.touched"
            >
              Please select a valid status!
            </span>
          </div>
          <div class="form-group">
            <label for="bugDescInput"
              >Bug Description<span style="color: red">*</span></label
            >
            <textarea
              class="form-control"
              id="bugDescInput"
              rows="5"
              placeholder="Write bug description here."
              name="bugDescInput"
              #descRef="ngModel"
              required
              ngModel
            ></textarea>
            <span
              class="help-block text-danger"
              *ngIf="!descRef.valid && descRef.touched"
            >
              Please enter a valid description!
            </span>
          </div>
          <div class="form-group">
            <label for="bugFileUpload">Upload Bug Screenshots Here: </label>
            <input
              type="file"
              class="form-control-file"
              id="bugFileUpload"
              name="fileUploadInput"
              multiple
              ngModel
            />
          </div>
          <div class="form-group">
            <label for="dateRetestInput">Date Retested</label>
            <input
              type="email"
              class="form-control"
              id="dateRetestInput"
              placeholder="Date bug was retested"
              name="dateRetestInput"
              ngModel
            />
          </div>
          <div class="form-group">
            <label for="retestedByInput">Retested By</label>
            <input
              type="email"
              class="form-control"
              id="retestedByInput"
              placeholder="Who retested the bug?"
              name="retestedByInput"
              ngModel
            />
          </div>
          <div class="form-group">
            <label for="dateReopenedInput">Date Reopened</label>
            <input
              type="email"
              class="form-control"
              id="dateReopenedInput"
              placeholder="Date bug was retested"
              name="dateReopenedInput"
              ngModel
            />
          </div>
          <div class="form-group">
            <label for="reopenedByInput">Reopened By</label>
            <input
              type="email"
              class="form-control"
              id="reopenedByInput"
              placeholder="Who retested the bug?"
              name="reopenedByInput"
              ngModel
            />
          </div>
          <div class="form-group">
            <label for="dateClosedInput">Date Closed</label>
            <input
              type="email"
              class="form-control"
              id="dateClosedInput"
              placeholder="Date bug was closed"
              name="dateClosedInput"
              ngModel
            />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">
              Close
            </button>
            <button class="btn btn-primary" type="submit" [disabled]="!templateFormRef.valid">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
