<!-- <div class="row">
  <div class="col-md-5">
    <app-clients></app-clients>
  </div>
  <div class="col-md-7">
    <app-projects></app-projects>
  </div>
</div> -->

<div class="container">
  <div class="row bug-title mt-5">
    <h1>🪲🐞 Bug List 🪲🐞</h1>
  </div>
</div>
<hr />
<div class="container-fluid">
  <div class="row mt-5 bug-table-div">
    <table class="table bug-table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">ID 🔢</th>
          <th scope="col">Title 📛</th>
          <th scope="col">Tester 👷</th>
          <th scope="col">Date 🗓️</th>
          <th scope="col">Description 📝</th>
          <th scope="col">Menu ⚙️</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Cross-Account Transfers Failing</td>
          <td>JP</td>
          <td>11/06/2023</td>
          <td>Description...</td>
          <td>
            <button class="btn btn-primary mr-2">Edit</button>
            <button class="btn btn-danger">Delete</button>
          </td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
          <td>@fat</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
          <td>@twitter</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
