<!-- <div class="row">
  <div class="col-md-5">
    <app-clients></app-clients>
  </div>
  <div class="col-md-7">
    <app-projects></app-projects>
  </div>
</div> -->

<div class="container">
  <div class="row bug-title mt-5">
    <h1>🪲🐞 Bug List 🪲🐞</h1>
  </div>
</div>
<hr />
<div class="container-fluid">
  <div class="row mt-5 bug-table-div">
    <table class="table bug-table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">ID 🔢</th>
          <th scope="col">Title 📛</th>
          <th scope="col">Tester 👷</th>
          <th scope="col">Date 🗓️</th>
          <th scope="col">Description 📝</th>
          <th scope="col">Menu ⚙️</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let bug of bugs">
            <th scope="row">{{ bug.id }}</th>
            <td>{{ bug.title }}</td>
            <td>{{ bug.tester }}</td>
            <td>{{ bug.date }}</td>
            <td>{{ bug.description }}</td>
            <td>
              <button class="btn btn-primary mr-2">Edit</button>
              <button class="btn btn-danger">Delete</button>
            </td>
          </tr>
      </tbody>
    </table>
  </div>
</div>

<app-projects></app-projects>
