<div class="container">
  <div class="row mt-5" style="display:flexbox; justify-content: space-between;">
      <h1 class="h1">Clients</h1>
      <button class="btn btn-outline-primary">Add Client</button>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Client Name</h5>
        <p class="card-text">Quick desc about the client</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Project #1</li>
        <li class="list-group-item">Project #2</li>
        <li class="list-group-item">Project #3</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">View Bugs</a>
        <a href="#" class="card-link">Edit Client Info</a>
      </div>
    </div>
  </div>
</div>
